// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Personal Color Scheme
$my-red: #CC0000;
$my-blue: #0E6B9A;
$my-green: #1FAD9F;
