<div class="popup text-decoration-none">
  <%= link_to user_path(user) do %>
    <%= cl_image_tag user.photo.key, class: "avatar" %>
    <p><%= user.name %></p>
    <p><%= user.description %></p>
  <% end %>
</div>
